:root {
  --rich-gold: #C3A66A;
  --warm-bronze: #A07837;
  --pearl-white: #FFFFFF;
  --soft-champagne: #F7EFE2;
  --satin-taupe: #B3A393;
  --deep-charcoal: #333333;
  --gold-grad: linear-gradient(135deg, var(--rich-gold) 0%, var(--warm-bronze) 100%);
   --overlay-dark: rgba(0, 0, 0, 0.45);

}

/* Ensure no body overflow */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

